.characteristic {
    height: auto;
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.characteristic .unity-base-text-field__input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
